*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to bottom, rgba(255, 143, 112, 0.9), rgba(255, 61, 84, 0.9)), url(../images/bg-pattern-intro.svg);
  background-position: 28% 50%;
  height: 65vh;
  border-bottom-left-radius: 100px;
  position: relative;
  padding: 3rem;
  color: white;
  font-family: "Overpass", sans-serif; }

.navbar {
  height: 50px;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between; }
  .navbar__left {
    display: flex;
    align-items: center; }
    .navbar__left--logo {
      font-size: 4rem;
      font-weight: 600;
      padding-right: 4rem; }
    .navbar__left__links {
      list-style: none;
      font-size: 1.5rem;
      font-weight: 300;
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-evenly; }
      .navbar__left__links--link {
        padding: 0 1.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .navbar__left__links--link:hover {
          transform: scale(1.5); }
  .navbar__right {
    display: flex;
    align-items: center; }
    .navbar__right--login {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      text-decoration: none;
      padding-right: 2.5rem;
      transition: all 0.2s ease-in-out; }
      .navbar__right--login:hover {
        transform: scale(1.5); }

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem 1.5rem; }
  .heading--primary {
    font-size: 6rem;
    animation: moveInLeft 1s ease-out; }
  .heading--secondary {
    font-size: 2.5rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out; }
  .heading__btns {
    padding: 2rem; }
    .heading__btns--start {
      margin-right: 0.5rem; }
    .heading__btns--more {
      margin-left: 0.5rem; }

.s1 {
  height: 1050px;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
  padding: 10rem 5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: min-content;
  position: relative; }

.s1__intro {
  text-align: center;
  font-size: 4rem;
  padding: 2rem; }

.s1__main {
  display: flex;
  padding-top: 4rem; }
  .s1__main__left {
    max-width: 730px;
    font-size: 2.2rem;
    line-height: 3.5rem;
    padding: 3rem; }
  .s1__main--heading {
    font-size: 3rem;
    padding: 1.5rem 0 4rem 0; }
  .s1__main--p {
    padding-bottom: 4rem;
    color: #4b5862; }
  .s1__main--img {
    position: absolute;
    top: 120px;
    right: -335px; }

.btn, .btn:link, .btn:visited {
  width: 130px;
  background-color: white;
  color: #ff525d;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  border: 1px solid white;
  cursor: pointer; }

.btn:hover {
  background-color: transparent;
  color: white; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
