*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.btn, .btn:link, .btn:visited {
  width: 130px;
  background-color: white;
  color: #ff525d;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  border: 1px solid white;
  cursor: pointer; }

.btn:hover {
  background-color: transparent;
  color: white; }

.navbar {
  height: 50px;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 68.75rem) {
    .navbar {
      padding: 0; } }
  .navbar__left {
    display: flex;
    align-items: center; }
  .navbar--logo {
    font-size: 4rem;
    font-weight: 600;
    padding-right: 4rem; }
  .navbar__menu {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-evenly; }
    .navbar__menu__1 {
      position: relative;
      display: inline-block;
      padding: 0 2rem; }
      .navbar__menu__1:hover .navbar__menu__1--dropcontent {
        display: block; }
      .navbar__menu__1--dropbtn {
        transition: all 0.2s ease-in-out; }
        .navbar__menu__1--dropbtn, .navbar__menu__1--dropbtn:link, .navbar__menu__1--dropbtn:visited {
          background-color: transparent;
          color: white;
          text-decoration: none;
          border: none;
          position: relative;
          padding-bottom: 1rem;
          font-size: 1.5rem;
          font-family: "Overpass", sans-serif;
          font-weight: 600;
          cursor: pointer; }
        .navbar__menu__1--dropbtn:hover, .navbar__menu__1--dropbtn:active {
          font-style: bold;
          font-weight: 600; }
        .navbar__menu__1--dropbtn:hover .navbar--icon {
          transform: rotate(180deg); }
      .navbar__menu__1--dropcontent {
        display: none;
        position: absolute;
        padding: 1rem;
        background-color: white;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px; }
      .navbar__menu__1--link, .navbar__menu__1--link:link, .navbar__menu__1--link:visited {
        color: #4b5862;
        padding: 0.5rem;
        text-decoration: none;
        display: block;
        cursor: pointer; }
      .navbar__menu__1--link:hover, .navbar__menu__1--link:active {
        font-weight: 600; }
  .navbar--span {
    padding-right: 0.5rem; }
  .navbar__right {
    display: flex;
    align-items: center; }
    .navbar__right--login {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      text-decoration: none;
      padding-right: 2.5rem;
      transition: all 0.2s ease-in-out; }
      .navbar__right--login:hover {
        text-decoration: underline; }

.navbar__mobile {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 2rem 0;
  position: relative; }
  .navbar__mobile--ham, .navbar__mobile--ham:link, .navbar__mobile--ham:visited {
    background-color: transparent;
    border-radius: 10rem;
    border: none;
    cursor: pointer; }

.mobile-menu {
  background-color: white;
  position: absolute;
  top: 60px;
  width: 90vw;
  height: min-content;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 8px;
  margin-top: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mobile-menu--up {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mobile-menu--hr {
    width: 80%;
    border: 1px solid #ededed; }
  .mobile-menu--down {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mobile-menu__btn, .mobile-menu__btn:link, .mobile-menu__btn:visited {
    background-color: transparent;
    color: #1f3f5b;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 2s ease-in-out; }
  .mobile-menu__btn:hover .mobile-menu__btn--p {
    color: #4b5862; }
  .mobile-menu__btn--p {
    margin-right: 1rem; }
  .mobile-menu__btn--arrow {
    align-self: center; }
  .mobile-menu__dropcontent {
    background-color: #ededed;
    border-radius: 8px;
    width: 80%;
    height: min-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem; }
    .mobile-menu__dropcontent--link, .mobile-menu__dropcontent--link:link, .mobile-menu__dropcontent--link:visited {
      color: #3f4164;
      text-decoration: none;
      padding: 1rem;
      font-size: 2rem;
      font-family: "Overpass", sans-serif;
      font-weight: 600;
      border: none;
      cursor: pointer; }
    .mobile-menu__dropcontent--link:hover {
      text-decoration: underline;
      color: #25252d; }
  .mobile-menu--login {
    color: #1f3f5b;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    cursor: pointer; }
  .mobile-menu--signup, .mobile-menu--signup:link, .mobile-menu--signup:visited {
    width: 160px;
    background-image: linear-gradient(to bottom, rgba(255, 143, 112, 0.9), rgba(255, 61, 84, 0.9));
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem; }
  .mobile-menu--signup:hover:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.rotate {
  transform: rotate(180deg); }

.bold {
  color: #4b5862; }

.hidden {
  display: none; }

.show {
  display: block; }

.header {
  background-image: linear-gradient(to bottom, rgba(255, 143, 112, 0.9), rgba(255, 61, 84, 0.9)), url(../images/bg-pattern-intro.svg);
  background-position: 28% 50%;
  height: 65vh;
  border-bottom-left-radius: 100px;
  position: relative;
  padding: 3rem;
  color: white;
  font-family: "Overpass", sans-serif; }
  @media only screen and (max-width: 84.75rem) {
    .header {
      height: 45vh; } }
  @media only screen and (max-width: 84.75rem) {
    .header {
      height: 55vh; } }
  @media only screen and (max-width: 43.75rem) {
    .header {
      height: 90vh; } }

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10rem 1.5rem; }
  .heading--primary {
    font-size: 6rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 68.75rem) {
      .heading--primary {
        font-size: 5rem; } }
    @media only screen and (max-width: 43.75rem) {
      .heading--primary {
        font-size: 4rem; } }
  .heading--secondary {
    font-size: 2.5rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 43.75rem) {
      .heading--secondary {
        font-size: 2rem; } }
  .heading__btns {
    padding: 2rem; }
    @media only screen and (max-width: 43.75rem) {
      .heading__btns {
        padding: 2rem 0; } }
    .heading__btns--start {
      margin-right: 0.5rem; }
    .heading__btns--more {
      margin-left: 0.5rem; }

.s1 {
  height: 1050px;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
  padding: 10rem 5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: min-content;
  position: relative; }
  @media only screen and (max-width: 75rem) {
    .s1 {
      padding: 6rem 2.5rem; } }
  @media only screen and (max-width: 68.75rem) {
    .s1 {
      align-items: center;
      height: min-content;
      padding-bottom: 0; } }
  @media only screen and (max-width: 43.75rem) {
    .s1 {
      padding: 6rem 2rem 0 2rem; } }

.s1__intro {
  text-align: center;
  font-size: 4rem;
  padding: 2rem; }

.s1__main {
  display: flex;
  padding-top: 4rem; }
  @media only screen and (max-width: 68.75rem) {
    .s1__main {
      flex-direction: column-reverse;
      align-items: center; } }
  .s1__main__left {
    min-width: min-content;
    max-width: 730px;
    font-size: 2.2rem;
    line-height: 3.5rem;
    padding: 3rem; }
    @media only screen and (max-width: 84.75rem) {
      .s1__main__left {
        max-width: 600px; } }
    @media only screen and (max-width: 75rem) {
      .s1__main__left {
        max-width: 530px; } }
    @media only screen and (max-width: 68.75rem) {
      .s1__main__left {
        max-width: 900px; } }
    @media only screen and (max-width: 43.75rem) {
      .s1__main__left {
        text-align: center;
        padding-bottom: 0; } }
  .s1__main--heading {
    font-size: 3rem;
    padding: 1.5rem 0 4rem 0; }
  .s1__main--p {
    padding-bottom: 4rem;
    font-size: 2.3rem;
    color: #4b5862; }
    @media only screen and (max-width: 43.75rem) {
      .s1__main--p {
        font-size: 2rem; } }
  .s1__main--img {
    position: absolute;
    top: 120px;
    right: -335px; }
    @media only screen and (max-width: 68.75rem) {
      .s1__main--img {
        position: static; } }

@media only screen and (max-width: 68.75rem) {
  .desktop {
    display: none; } }

@media only screen and (min-width: 68.75rem) {
  .mobile {
    display: none; } }

.s2 {
  height: 400px;
  background-image: url(../images/bg-pattern-circles.svg), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -40% 80%;
  border-radius: 0 100px 0 100px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  line-height: 3.5rem;
  display: flex;
  position: relative;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 75rem) {
    .s2 {
      margin-top: 10rem; } }
  @media only screen and (max-width: 68.75rem) {
    .s2 {
      height: 600px;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 43.75rem) {
    .s2 {
      height: 950px; } }
  .s2--img {
    position: absolute;
    top: -70px;
    left: 100px; }
    @media only screen and (max-width: 84.75rem) {
      .s2--img {
        left: 20px; } }
    @media only screen and (max-width: 75rem) {
      .s2--img {
        left: 10px; } }
    @media only screen and (max-width: 68.75rem) {
      .s2--img {
        height: 80%;
        width: auto;
        left: 50%;
        transform: translateX(-50%); } }
    @media only screen and (max-width: 43.75rem) {
      .s2--img {
        height: 45%; } }
  .s2__right {
    min-width: 300px;
    align-self: center;
    padding: 0 2rem 0 2rem;
    max-width: 600px;
    position: absolute;
    right: 145px; }
    @media only screen and (max-width: 84.75rem) {
      .s2__right {
        right: 25px; } }
    @media only screen and (max-width: 75rem) {
      .s2__right {
        right: 0;
        max-width: 550px; } }
    @media only screen and (max-width: 68.75rem) {
      .s2__right {
        max-width: 900px;
        min-width: 700px;
        margin-top: 32rem;
        left: 50%;
        transform: translateX(-50%); } }
    @media only screen and (max-width: 43.75rem) {
      .s2__right {
        min-width: 300px;
        max-width: 500px;
        text-align: center;
        margin-top: 24rem; } }
  .s2--heading {
    font-size: 3rem;
    padding-bottom: 2rem; }
  .s2--p {
    font-size: 2.3rem; }
    @media only screen and (max-width: 43.75rem) {
      .s2--p {
        font-size: 2rem; } }

.s3 {
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
  line-height: 3.5rem;
  display: flex;
  padding: 4rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 84.75rem) {
    .s3 {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 75rem) {
    .s3 {
      margin-bottom: 1rem;
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 68.75rem) {
    .s3 {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden; } }
  .s3__left {
    position: relative; }
  .s3--img {
    position: absolute;
    left: -310px; }
    @media only screen and (max-width: 68.75rem) {
      .s3--img {
        position: static; } }
  .s3__right {
    max-width: 600px;
    font-size: 2.2rem;
    line-height: 3.5rem;
    padding: 8rem 3rem 3rem 3rem;
    margin-left: 70rem; }
    @media only screen and (max-width: 84.75rem) {
      .s3__right {
        margin-left: 60rem; } }
    @media only screen and (max-width: 75rem) {
      .s3__right {
        margin-left: 58rem;
        max-width: 650px; } }
    @media only screen and (max-width: 68.75rem) {
      .s3__right {
        margin-left: 0;
        max-width: 900px;
        padding-top: 3rem; } }
    @media only screen and (max-width: 43.75rem) {
      .s3__right {
        text-align: center; } }
  .s3--heading {
    font-size: 3rem;
    padding: 1.5rem 0 4rem 0; }
  .s3--p {
    padding-bottom: 4rem;
    font-size: 2.3rem;
    color: #4b5862; }
    @media only screen and (max-width: 43.75rem) {
      .s3--p {
        font-size: 2rem; } }

.footer {
  background-color: #25252d;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  border-top-right-radius: 100px; }
  .footer__container {
    display: flex;
    justify-content: space-around;
    padding: 6rem; }
    @media only screen and (max-width: 43.75rem) {
      .footer__container {
        flex-direction: column;
        align-items: center; } }
  .footer__logo {
    width: 10rem;
    height: 4rem; }
    @media only screen and (max-width: 43.75rem) {
      .footer__logo {
        margin-bottom: 3rem; } }
  .footer__heading {
    font-size: 2.5rem;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 43.75rem) {
      .footer__heading {
        font-size: 2rem; } }
  .footer__list {
    list-style: none; }
    @media only screen and (max-width: 43.75rem) {
      .footer__list {
        margin-bottom: 2rem;
        text-align: center; } }
    .footer__list--item {
      padding-bottom: 1.5rem; }

li a {
  color: #c8c8cb;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.attribution {
  font-size: 11px;
  text-align: center;
  color: #3e52a3;
  padding: 2rem; }

.attribution a {
  color: white; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
