// Navigation desktop //

.navbar {
  height: 50px;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &--logo {
    font-size: 4rem;
    font-weight: 600;
    padding-right: 4rem;
  }

  &__menu {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1.5rem;

    display: flex;
    justify-content: space-evenly;

    &__1 {
      position: relative;
      display: inline-block;
      padding: 0 2rem;

      &:hover .navbar__menu__1--dropcontent {
        display: block;
      }

      &--dropbtn {
        transition: all 0.2s ease-in-out;
        &,
        &:link,
        &:visited {
          background-color: transparent;
          color: $color-white;
          text-decoration: none;
          border: none;
          position: relative;
          padding-bottom: 1rem;
          font-size: 1.5rem;
          font-family: $font-primary;
          font-weight: 600;
          cursor: pointer;
        }

        &:hover,
        &:active {
          font-style: bold;
          font-weight: 600;
        }

        &:hover .navbar--icon {
          transform: rotate(180deg);
        }
      }

      &--dropcontent {
        display: none;
        position: absolute;
        padding: 1rem;
        background-color: $color-white;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
      }

      &--link {
        &,
        &:link,
        &:visited {
          color: $color-grey-medium;
          padding: 0.5rem;
          text-decoration: none;
          display: block;
          cursor: pointer;
        }

        &:hover,
        &:active {
          font-weight: 600;
        }
      }
    }
  }

  &--span {
    padding-right: 0.5rem;
  }

  &__right {
    display: flex;
    align-items: center;

    &--login {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-white;
      text-decoration: none;
      padding-right: 2.5rem;

      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Navigation mobile //

.navbar__mobile {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 2rem 0;
  position: relative;

  &--ham {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      border-radius: 10rem;
      border: none;
      cursor: pointer;
    }
  }
}

.mobile-menu {
  background-color: $color-white;
  position: absolute;
  top: 60px;
  width: 90vw;
  height: min-content;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 8px;
  margin-top: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  align-items: center;

  &--up {
    width: 100%;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--hr {
    width: 80%;
    border: 1px solid $color-grey-light-2;
  }

  &--down {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  &__btn {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      color: $color-blue-dark;
      text-decoration: none;
      padding: 1.5rem;
      font-size: 2.5rem;
      font-family: $font-primary;
      font-weight: 600;
      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;

      transition: all 2s ease-in-out;
    }

    &:hover .mobile-menu__btn--p {
      color: $color-grey-medium;
    }

    &--p {
      margin-right: 1rem;
    }

    &--arrow {
      align-self: center;
    }
  }

  &__dropcontent {
    background-color: $color-grey-light-2;
    border-radius: 8px;
    width: 80%;
    height: min-content;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 3rem;

    &--link {
      &,
      &:link,
      &:visited {
        color: $color-grey-blue-light;
        text-decoration: none;
        padding: 1rem;
        font-size: 2rem;
        font-family: $font-primary;
        font-weight: 600;
        border: none;
        cursor: pointer;
      }
      &:hover {
        text-decoration: underline;
        color: $color-grey-dark;
      }
    }
  }

  &--login {
    color: $color-blue-dark;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: $font-primary;
    font-weight: 600;
    cursor: pointer;
  }

  &--signup {
    &,
    &:link,
    &:visited {
      width: 160px;
      background-image: linear-gradient(
        to bottom,
        rgba($color-red-light, 0.9),
        rgba($color-red-dark, 0.9)
      );
      color: $color-white;
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    &:hover {
      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
