//// Colors

$color-pink-dark: hsl(356, 100%, 66%);
$color-pink-light: hsl(355, 100%, 74%);
$color-blue-dark: hsl(208, 49%, 24%);
$color-white: hsl(0, 0%, 100%);
$color-black: #000;
$color-grey-light: hsl(240, 2%, 79%);
$color-grey-medium: hsl(207, 13%, 34%);
$color-grey-dark: hsl(240, 10%, 16%);
$color-red-light: hsl(13, 100%, 72%);
$color-red-dark: hsl(353, 100%, 62%);
$color-grey-blue-dark: hsl(237, 17%, 21%);
$color-grey-blue-light: hsl(237, 23%, 32%);

//// Fonts

$font-primary: "Overpass", sans-serif;
$font-secondary: "Ubuntu", sans-serif;

//// Breakpoints

$bp-large: 84.75rem;
$bp-medium: 75rem;
$bp-small: 68.75rem;
$bp-mobile: 43.75rem;
